* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #e2c5d2;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drums {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 640px) and (max-width: 1023px) {
  #drums {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 639px) {
  #drums {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

button {
  box-sizing: border-box;
  border-radius: 20px;
  border: 8px solid;
  border-color: #e3c3d2;
  background: #e1c1d2;
  box-shadow: 20px 20px 33px #cdb0bf, -20px -20px 33px #f5d2e5;
  width: 10rem;
  height: 10rem;
  color: white;
  font-size: 3rem;
}

button:active {
  border-radius: 20px;
  border: 8px solid;
  border-color: #e3c3d2;
  background: linear-gradient(145deg, #cbaebd, #f1cfe1);
  box-shadow: 20px 20px 33px #cdb0bf, -20px -20px 33px #f5d2e5;
}
